<h1> About </h1>
<p>
  The
  <a href="https://www.railstutorial.org"> Ruby on Rails Tutorial </a>
  is the <a href="https://www.railstutorial.org/book"> book </a>
  to teach web development with 
  <a href="http://rubyonrails.org/"> Ruby On Rails </a>.
  This is the sample application for the tutorial.  
</p>
