# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 92da8a35239c847e0a8aa3f3e226f3fcdf04779c75b81336aea4f8089d3091b7271ce02f2055bc9e3ecf50e0e8a64d028e1e31fa575e655e7b98ab49d4ea3925

test:
  secret_key_base: fbaace584febdab53e1bf0dda9fd97599427bdb585dde0761b24e5f69ab345370c60c339fba4a422176ec5bb161bdc313ddd82934b30b15e949287980c41168f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
