# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 96aa4130e4b3333edee8c2d2f32d59b940a8f006f3744f5e3230cc5a98557c954b25e347d2af40605eb11f41dde75d4ec0961698cce32ac738c62cb23d0ce148

test:
  secret_key_base: 39fac7900d44de8df3c66c208764f00896c28937910d7b3f1e18ea9a6a61be38a361ba35e9ecbb89d845952c7b0574ff9ede7a68eb7b3def149438525b43add0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
