# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1c83c515474204ded68479a6ab97c515f37abae5ce0f7c04bb1a0d80fdb39b9b748cc7ba560140ea9be9c6190d58589b16af30a9feac24114df68b65597c45c0

test:
  secret_key_base: f3267c53b35facc7438ded9b053b1ff54918e302694e6b23410ab13a4ca374a548a6d832eed6d7795c1dd3b2ef2a920ea4296d8ecaa88786c91fa6e5b6413cc9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
