# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1ad91d42a777bed426da74f70450ec8b1dbd05415522c4174179b70fae8b2e8adf9ffd5f282ca2df899fec1fa202c1f1ac3135f30aa59e7fab877b5b9aef651d

test:
  secret_key_base: 521496983fc95a24494be5aabf98b90eb3501e0a73ba6c090adb3b4734db1a5f551e10256505202e6c091852b795ce01bd20bb7b7c69090326999e0274d212ad

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
