# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5777458c89c526f9e0a55ab4213d18359aaa52ad2df3c99f773b829b8a89122475aaf986fd03699fe431756ac01b6a7f53fd5643fe6990726bd54ca69a12bf21

test:
  secret_key_base: dd1c66e242ef8a2d6d97a9e24c5b9c05e25b60b4841cfdac7a9a4a6e1107c4854d0b5748bfdda7605fc0d6accb7d9b77e0f9f1499dded96ca3cb14b0a76d92dc

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
