<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("buttons.about"), about_path %></li>
      <li><%= link_to t("buttons.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t("buttons.news") %></a></li>
    </ul>
  </nav>
</footer>
